@page
@model KNU.IT.DbManagementSystem.Pages.ExploreTablesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Explore Tables";
}

<br />
<div>
    <h3>Database: @Model.Database.Name</h3>
    <br>
    <h4>Tables</h4>
    <table class="table">
        <tbody>
            @foreach (var table in Model.Tables)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => table.Name)
                    </td>
                    <td>
                        <a asp-page="/ExploreRows" asp-route-tableId="@table.Id">Open</a>
                    </td>
                    <td>
                        <a asp-page="/EditTable" asp-route-tableId="@table.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form method="post">
        <input type="submit" asp-page-handler="CreateNewTable" asp-route-databaseId="@Model.Database.Id" name="CreateNewTable" value="Create" />
    </form>
</div>