@page
@model KNU.IT.DbManagementSystem.Pages.SearchRequestModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Search";
}

<br />
<h4>Search in table @Model.Table.Name</h4>
<hr />
<div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Request column</label>
            @Html.DropDownListFor(model => model.SearchColumn, Model.ColumnNames)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SearchKeyword)
            @Html.EditorFor(model => model.SearchKeyword)
            @Html.ValidationMessageFor(model => model.SearchKeyword)
        </div>
        <p>
            <input type="submit" value="Search" asp-page-handler="Search" asp-route-tableId="@Model.Table.Id"/>
        </p>
    </form>
</div>
