@page
@model KNU.IT.DbManagementSystem.Pages.SearchResultsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Search results";
}

<br />
<div>
    <h3>Search results for table @Model.Table.Name</h3>
    <h4>Column: @Model.Column, Keyword: @Model.Keyword</h4>
    <br>
    <h3>Rows</h3>
    @if (Model.Rows.Count != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    @foreach (var column in Model.Rows[0].Content)
                    {
                        <th>
                            @column.Key
                        </th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Rows)
                {
                    <tr>
                        @foreach (var column in row.Content)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => column.Value)
                            </td>
                        }
                        <td>
                            <a asp-page="/DeleteRow" asp-route-tableId="@Model.Table.Id" asp-route-rowId="@row.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <form method="post">
        <input type="submit" asp-page-handler="CreateNewRow" asp-route-tableId="@Model.Table.Id" name="CreateNewRow" value="Create" />
    </form>

    <form method="post">
        <input type="submit" asp-page-handler="ReturnToTables" asp-route-databaseId="@Model.Table.DatabaseId" name="ReturnToTables" value="Back to Tables" />
    </form>
</div>